body {
  font-family: sans-serif;
  margin: auto;
}

.navbar {
  background-color: #313236;
  border-radius: 5px;
  height: 25px;
}

.navbar a {
  color: #c9c9c9;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

.navbar a:hover {
  color: hsl(202, 100%, 57%);
}

.navbar a:visited {
  color: hsl(256, 100%, 81%);
}

.navbar a:active {
  color: hsl(123, 99%, 44%);
}

